/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 100px;
}

/* Utils */

.flex{
    display: flex;
}

.bg-orange{
    background-color: #FF6900;
}

.border{
    border: 2px dashed black;
}

.card{
    width: 400px;
    height: 600px;
}

.txt-red{
    color: red;
}

.txt-black{
    color: black;
}

.txt-line{
    text-decoration:line-through;
}

.heart{
    background-color: white;
    position: absolute;
    min-width: 50px;
    height: 45px;
    line-height: 35px;
    text-align: center;
    right: 0;
    top: 10px;
}

.heart:hover{
    color: red;
}



/* Header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


.flex-container{
    height: 80px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    height: 60px;
    min-width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img{
    height: 30px;
}

.genere{
    align-items: center;
}

.a-header{
    color: white;
    text-decoration: none;
    margin-right: 10%;
    padding-right: 5px;
    font-size: 20px;
}

.a-ft{
    text-decoration: none;
    color: white;
    justify-content: flex-start;
}


.i-hd{
    padding: 5px;
}

.a-ft{
    padding: 5px;
}

.i-ft{
    padding-right: 5px;
}

h3{
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 1rem
}

/* Main */


.card-container{
    min-width: 80%;
    min-height: 800px;
    display: flex;
    background-color: white;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card{
    margin-bottom: 80px;
    margin-top: 20px;
    position: relative;
}

.card:hover.male-1{
    background-image: url(./img/1b.webp);
}

.male-1{
    background-image: url(./img/1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.card:hover.male-2{
    background-image: url(./img/4b.webp);
}

.male-2{
    background-image: url(./img/4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card:hover.fmale-1{
    background-image: url(./img/2b.webp);
}

.fmale-1{
    background-image: url(./img/2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card:hover.fmale-2{
    background-image: url(./img/3b.webp);
}

.fmale-2{
    background-image: url(./img/3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card:hover.fmale-3{
    background-image: url(./img/5b.webp);
}

.fmale-3{
    background-image: url(./img/5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card:hover.fmale-4{
    background-image: url(./img/6b.webp);
}


.fmale-4{
    background-image: url(./img/6.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.levis{
    position: absolute;
    bottom: -60px;
}

.guess{
    position: absolute;
    bottom: -60px;
}

.come{
    position: absolute;
    bottom: -60px;
}

.levi-s{
    position: absolute;
    bottom: -60px;
}

.maya{
    position: absolute;
    bottom: -60px;
}

.esprit{
    position: absolute;
    bottom: -60px;
}

.p-absolute{
    position: absolute;
    bottom: -60px;
}

.discount-50{
    color: white;
    background-color: red;
    position: absolute;
    bottom: 35px;
    min-width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.sost{
    color: white;
    background-color: green;
    position: absolute;
    bottom: 35px;
    left: 55px;
    min-width: 95px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.sost-lft{
    color: white;
    background-color: green;
    position: absolute;
    bottom: 35px;
    left: 0;
    min-width: 95px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

/* Footer */

footer{
    background-color: #1A1A1A ;
}

.footer-container{
    height: 80px;
    min-width: 74%;
    padding-left: 13%;
    padding-right: 13%;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.boolando-container{
    height: 60px;
    line-height: 25px;
}

.trovaci-container{
    height: 60px;
    color: white;
    text-align: center;
}






